@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Poppins:wght@100;200&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
    margin:50px;
    display: flex;
    flex-direction: column;
    width: 75vw;
    justify-content:center;
    align-items:center;
}


